body {
  background-color: #efece3;
  padding: 0;
  margin: 0;
}

header {
  padding: 5px;
  background-color: #72715a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > h1 {
  text-align: center;
}

button {
  width: clamp(10%, 200px, 30%);
  padding: 10px 15px 10px 15px;
  background-color: rgba(177, 93, 71);
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

main {
  padding-top: 50px;
  display: flex;
  justify-content: center
}

.report {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherDataContainer {
  display: flex;
  gap: 50px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: clamp(50vw, 650px, 95vw);

  padding: 0 10px 5px 10px;
}

